body{
    background-image: url(./img/hahaha\ fundo.jfif);
}

h1{
    background-color: black;
    color: chartreuse;
    text-align: center;
}
p{
    background-color: black;
    color: chartreuse;
    text-align: center;
    font-size: 24px;
}

small{
    font-size: 35px;
    text-align: center;
    background-color: black;
    color: chartreuse;
    margin: auto;
    display: block;
    flex-grow: 1;
    
}
img{
    text-align: center;
}
header{
    text-align: center;
}